.passportFilterContainer {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5rem;
  box-sizing: border-box;
}

.passportFilterSubContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.formCheck {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  margin-left: indentation;
}

.formCheckInput {
  margin-right: 0.5em;
}

.whiteSpace {
  display: flex;
  align-items: center;
}

.truncatedLabel {
  flex: 1;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.count {
  margin-left: 8px;
  flex-shrink: 0;
}
