:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(to right, #eef1f2, #f1f3f4, #f3f6f7);
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.col-label {
  font-weight: bold;
  margin-right: 100px;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 30px;
}

.col {
  padding: 10px;
}

.col-auto {
  padding: 10px;
  background-color: #f7f7f7;
}

.col-auto > div,
.col > div {
  margin-bottom: 20px;
}

.context {
  margin: 20px;
  display: flex;
}

.geno-data {
  margin-left: 50px;
}

.meta-data {
  margin-right: 50px;
}

.col-md-3-custom {
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 999;
  width: 25%;
  padding-bottom: 20px;
}

.col-md-9-custom,
.col-md-4-custom {
  margin-left: 25%;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.table-wrapper {
  display: inline-block;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 800px;
  padding-right: 21px;
}

table thead th {
  font-family: Roboto, sans-serif;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.table th {
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vertical-header {
  overflow: hidden;
  position: sticky;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  padding: 5px 2px;
  text-align: center;
}

.vertical-header > span {
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  white-space: nowrap;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 12px;
  margin-top: 5px;
}

.scrollable-table thead tr {
  height: 200px;
}

.geno-data-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #0056b3;
  outline: none;
}

.button-primary {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-primary:hover {
  background-color: #004494;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }

  .search-container select,
  .search-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.position-range-filter .input-container {
  position: relative;
  margin-bottom: 20px;
}

.position-range-filter input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px 12px 40px;
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

.position-range-filter input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.input-group .form-control {
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding-left: 40px;
}

.input-group-addon {
  position: absolute;
  left: 10px;
  z-index: 10;
  color: #ccc;
}

.form-control::placeholder {
  color: #ccc;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: none;
}

.access-mode-toggle {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.access-mode-toggle label {
  margin-right: 1em;
  font-weight: bold;
  font-size: 0.95rem;
  color: #333;
}

.access-mode-toggle input[type="radio"] {
  margin-right: 0.5em;
}

.access-mode-toggle label:hover {
  cursor: pointer;
  color: #007bff;
}

.select-style-button {
  display: inline-block;
  font-size: 1em;
  border-radius: 0px;
  background-color: beige;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
}

.active-filters-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.active-filter-item {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
  position: relative;
}

.active-filter-item:hover {
  background-color: #e9ecef;
}

.filter-label {
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}

.filter-value {
  color: #555;
  padding-left: 10px;
  line-height: 1.6;
}

.remove-filter-button {
  background: none;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: #dc3545;
  transition: color 0.3s;
}

.remove-filter-button:hover {
  color: #b02a37;
}
